<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <div class="main-content">
    <body>
        {{>header}}
        <p>{{text}}</p>
        <img src="/img/Bild.jpg" class="portrait">
    </body>
    </div>

    <footer>
        {{>footer}}    
    </footer>

</html>