<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <div class="main-content">
    <body>
        {{>header}}
        <p>{{errorMessage}}</p>
        <p>Please return to main page.</p>
    </body>
    </div>
    
    <footer>
        {{>footer}}    
    </footer>

</html>